.d-inline {
    display: inline;
}

.horizontalLine {
    padding: 1px;
    height: 0.1rem;
    border: none;
    background-color: sienna;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}